<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/List.css">
    <title>Equipment List</title>
</head>
<body>
    <div class="equipment">
        <h1>Rental Stuff LLC</h1>
        <h2>Equipment</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for e in equipment %}
                <tr>
                    <td>{{ e.name }}</td>
                    <td>{{ e.stock }}</td>
                    <td>${{ e.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>