<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/List.css">
    <title>Rental List</title>
</head>
<body>
    <div class="rentals">
        <h1>Rental Stuff LLC</h1>
        <h2>Rentals</h2>

        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Equipment</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for rental in rentals %}
                    <tr>
                        <td>{{ rental.customer.firstname }}</td>
                        <td>{{ rental.customer.lastname }}</td>
                        <td>{{ rental.equipment.name }}</td>
                        <td>{{ rental.quantity }}</td>
                        <td>${{ rental.equipment.price }}</td>
                        <td>${{ rental.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>